@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rammetto+One&display=swap");

:root {
  --pri-color: #fb9440;
  --light: #f4f4f4;
  --light-bg: rgba(112, 73, 26, 0.48);
  --dark: #70491A;
}

/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("images/Lines.png") center center/cover no-repeat #f9a938;
  font-family: "Poppins", sans-serif;
  color: var(--light);
}

img {
  width: 100%;
}

a {
  color: var(--light);
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: none;
  color: var(--light);
}

/* Utilities */
.dark {
  color: var(--dark);
}

.blur {
  backdrop-filter: blur(5px);
}

.dark-bg {
  background-color: var(--dark) !important;
}
.pri-color {
    color: var(--pri-color);
}

.heading {
  font-family: "Rammetto One", cursive;
  text-shadow: 5px 10px 1rem rgb(51, 51, 51,0.6);
}

.custom-card, 
.swiper-button-next:after,
.swiper-button-prev:after {
  background-color: var(--light-bg);
  padding: 15px;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  display: inline-block;
}

.transition {
  transition: 0.4s;
}

.navbar-bg {
   background-color: rgba(112, 73, 26, 0.48);
   backdrop-filter: blur(4px);
}

.app {
  margin-right: 1rem;
}

/* Header */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0px;
  z-index: 999;
}

.logo {
  width: 55px;
}

.logo-text {
  font-weight: 900;
  font-size: 1.5rem;
  margin-left: 10px;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 0.6rem;
  padding-left: 0.6rem;
}

.nav-link {
  /* font-weight: 700; */
  transition: 0.4s;
  font-size: 1.2rem;
}

.nav-link:hover {
  color: var(--pri-color);
}

.support {
  background-color: var(--pri-color);
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 0.5rem 1rem;
}

.support:hover {
  transition: 0.4s;
  color: var(--pri-color);
  background-color: var(--light);
}

.toggler {
  font-size: 1.5rem;
  color: var(--light);
  transition: 0.4s;
  border: none;
}

.toggler:hover {
  color: var(--pri-color);
}

/* Home */
#home {
  background: url("images/hero.png") center center/cover no-repeat;
  height: 80vh;
  width: 100%;
}

#home .heading {
  font-size: 2.7rem;
}

#home .subheading {
  text-shadow: 1px 3px 2px #333;
}

/* Features */
#features {
  position: relative;
  top: -110px;
}

#features .icon {
  width: 50px;
}

.swiper {
  height: fit-content;
}

.swiper-button-next:after,
.swiper-button-prev:after {
    font-size: 1.4rem !important;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pri-color);
    font-weight: 900;
    backdrop-filter: unset;
}


.swiper-pagination-bullet-active {
    background-color: var(--pri-color) !important;
  }
  

#hero .heading {
    font-size: 3rem;
}


/* How to get started */
.start-items {
  margin-top: 1rem;
}

.start-items .item {
  border-top: solid 5px rgba(112, 73, 26, 0.48);
  padding-right: 10px;
  padding-left: 5px;
  padding-top: 10px;
}

/* Games */

.boxes {
  display: flex;
  justify-content: space-between;
}

.boxes .custom-card {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

#tokenomics .custom-card {
  width: 100%;
  text-align: center;
}

.token-image {
  width: 100px;
  margin:0 auto;
}

/* RoadMap */
#roadmap .heading {
  margin-bottom: 6rem;
}
.phase {
  border-top: solid 25px #F5F683;
  position: relative;

}

.phase:first-child {
  border-top-left-radius: 2px;
}
.phase:last-child {
  border-top-right-radius: 2px;
}

.phase:first-child::before, 
.phase:nth-child(2)::before {
  position: absolute;
  content: "";
  top: -50px;
  right: 0;
  height: 80px;
  width: 6px;
  border-radius: 5px;
  background-color: var(--light-bg);
}

.phase:first-child::after, 
.phase:nth-child(2)::after {
  position: absolute;
  top: -75px;
  right: -22;
  font-weight: bold;
  
}

.phase:first-child::after {
  content: "Q3 2023";
}
.phase:nth-child(2):after {
  content: "Q4 2023";
}
.fade-bg {
  height: 5rem ;
  width: 100%;
  background: linear-gradient(180deg, rgb(251, 148, 64, 0.00) 0%, #F1FF65 100%);
}

#footer {
  background: url("images/artboard.png");
  padding-top: 80px;
}


/* Community */
.comm {
  border: solid 2px var(--dark);
  padding: 20px;
  margin: 0px auto 7rem auto;
  text-align: center;
  border-radius: 20px;
  backdrop-filter: blur(3px);
  background-color:  rgb(112, 73, 26, 0.4) ;
}

/* Footer Navigation */
.footer-nav {
  position: static;
  bottom: 0;
  background-color:  rgb(112, 73, 26, 0.4) ;
  border-bottom: solid 2px var(--dark);
}

/* Social Links */
.social-links {
  background-color:  rgb(112, 73, 26, 0.4)
}

.social .link {
  font-size: 1.5rem;
  margin-right: 1rem;
  transition: 0.4s;
}
.link:hover {
  color: var(--dark);
}


/* Background Wallpaper */
.bg-pic {
  max-width: 400px;
  position: absolute;
  z-index: -1;

}

.cloud1 {
  left: 0;
  top: 100%;
}

.cloud2 {
  right: 0;
  top: 180%
}

.brick {
  left: 0;
  top: 240%;
}

.cloud3 {
  right: 0;
  top: 320%;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 575.98px) { 

  .hero-image {
    width: 480px;
  }
}

@media (max-width: 575.98px) {
  #home .heading {
    font-size: 2rem;
  }

  .app {
    width: 8rem;
    
  }

  #hero .heading,
  #games .heading {
    font-size: 1.5rem;
  }

  .logo-text {
    font-size: 1.2rem;
  }
 
}